<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="../../stylesheets/index.css">
</head>
<body >
    <div>
    <img src="">
    <h1 style="text-align: center;color: cornsilk;">This is our chat site</h1>
    <span style="display:flex; justify-content: center; color: cornsilk;">If you wont go to login page, click Go
    <a href="login"><button style=" background-color:rgb(93, 171, 235); margin-left: 10px;">Go</button></a></span>
</div>
</body>
</html>