<% include partials/head.html %>
<head>
	<link rel="stylesheet" href="../../stylesheets/msgviewer.css">
    <!--<script type="text/javascript" src="/regjs/chatusers.js" async></script>-->
    <!--<script type="text/javascript" src="/customjss/msgview.js" defer></script>-->
</head>
<body >	
    <div class="allcontent" >          
            <div class="d-flex card-header header_div">
                <div class="d-flex bd-highlight ">
                    <div class="img_cont">
                        <img id="msguserpic" src="<%= ppat %>" class="rounded-circle user_img">
                        <span class="online_icon"></span>
                    </div>
                    <div class="user_info">
                        <span id="msgusername" ><%= user.local.name %> <%= user.local.lastname %></span>
                        <!-- <p class="m">1767 Messages</p> -->
                    </div>    
                </div>
                <div>
                    <div class="d-flex  video_cam">
                        <span><i class="fas fa-video"></i></span>
                        <span><i class="fas fa-phone"></i></span>
                    </div>
                <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                <div class="action_menu">                   
                    <ul>
                        <li><i class="fas fa-user-circle"></i> View profile</li>
                        <li><i class="fas fa-users"></i> Add to close friends</li>
                        <li><i class="fas fa-plus"></i> Add to group</li>
                        <li><i class="fas fa-ban"></i> Block</li>
                    </ul>
                  </div>
               </div>   
            </div>       
            <div id="msg" >
            </div>      
    </div>   
</body>
</html>