<% include partials/head.html %>
<head>
	<link rel="stylesheet" href="../../stylesheets/msgviewer.css">
    <!-- <script type="text/javascript" src="/regjs/chatusers.js" async></script> -->
    <script type="text/javascript" src="/customjss/framemsg.js" defer></script>
</head>
<body >	
    <div class="allcontent" >          
            <div class="d-flex card-header header_div">
                <div class="d-flex bd-highlight ">
                    <div class="img_cont">
                        <!-- ../imgdata/608c41c049c07a269cc446c4/imgUploader_1619804657335_IMG_20180610_161528.jpg
                        ../imgdata/608c41c049c07a269cc446c4/imgUploader_1619804657335_IMG_20180610_161528.jpg -->
                        <% var pimg='/imgdata/profimg/prof.png' %>
                                        <% if(user.ppic!=null){ %>
                                            <% pimg="/imgdata/"+ user._id + "/" + user.ppic.picPath %>
                                        <% } %>
                        <img id="msguserpic" src="<%= pimg %>" class="rounded-circle user_img">
                        <span class="online_icon"></span>
                    </div>
                    <div class="user_info">
                        <span id="msgusername" ><%= user.local.name %> <%= user.local.lastname %></span>
                        <!-- <p class="m">1767 Messages</p> -->
                    </div>    
                </div>
                <div>
                    <div class="d-flex  video_cam">
                        <span><i class="fas fa-video"></i></span>
                        <span><i class="fas fa-phone"></i></span>
                    </div>
                <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                <div class="action_menu">                   
                    <ul>
                        <li><i class="fas fa-user-circle"></i> View profile</li>
                        <li><i class="fas fa-users"></i> Add to close friends</li>
                        <li><i class="fas fa-plus"></i> Add to group</li>
                        <li><i class="fas fa-ban"></i> Block</li>
                    </ul>
                  </div>
               </div>   
            </div>       
            <div id="msg" data-msgs="<%= user._id %>" data-msgr="<%= rid %>" >
            </div>      
    </div>   
    
</body>
</html>