body
 {
    margin: 0;
    background: #3939c2;
    background: -webkit-linear-gradient(to right, #254745, #10254d, #07077e);
    background: linear-gradient(to right, #294745, #13274e, #050546); 
}
.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.profil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}



.card {
    width: 80%;
    background-color: rgba(214, 224, 226, 0.2);
    border-radius: 3px;
}
.desc{
    margin: 20px;
}
.desc span{ 
    display: flex;
    justify-content: center;
    margin: 3px 3px 3px 3px;
}
.desc a{ 
    margin: 3px 3px 3px 3px;
}
.desc a:hover{ 
    background-color: blue;
    color: cornsilk;
}

#frmUploader input{
    margin: 7px 3px 7px 3px; 
}
#frmUploader input:hover{
    background-color: blue;
    color: cornsilk;
}


.card.hovercard {
    position: relative;
    padding-top: 20px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
} 

